In [46]:
import pandas as pd
import numpy as np

In [47]:
books = pd.read_csv('books.csv', error_bad_lines = False)
books[:10]

C:\Users\UMESH\AppData\Local\Temp\ipykernel_5788\4111251381.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('books.csv', error_bad_lines = False)
Skipping line 3350: expected 12 fields, saw 13
Skipping line 4704: expected 12 fields, saw 13
Skipping line 5879: expected 12 fields, saw 13
Skipping line 8981: expected 12 fields, saw 13

,bookID,title,authors,average_rating,isbn,isbn13,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,0439785960,9780439785969,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,0439358078,9780439358071,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,4,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,0439554896,9780439554893,eng,352,6333,244,11/1/2003,Scholastic
3,5,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,043965548X,9780439655484,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,8,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,0439682584,9780439682589,eng,2690,41428,164,9/13/2004,Scholastic
5,9,"Unauthorized Harry Potter Book Seven News: ""Ha...",W. Frederick Zimmerman,3.74,0976540606,9780976540601,en-US,152,19,1,4/26/2005,Nimble Books
6,10,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,0439827604,9780439827607,eng,3342,28242,808,9/12/2005,Scholastic
7,12,The Ultimate Hitchhiker's Guide: Five Complete...,Douglas Adams,4.38,0517226952,9780517226957,eng,815,3628,254,11/1/2005,Gramercy Books
8,13,The Ultimate Hitchhiker's Guide to the Galaxy ...,Douglas Adams,4.38,0345453743,9780345453747,eng,815,249558,4080,4/30/2002,Del Rey Books
9,14,The Hitchhiker's Guide to the Galaxy (Hitchhik...,Douglas Adams,4.22,1400052920,9781400052929,eng,215,4930,460,8/3/2004,Crown

In [48]:
#Since we don't need isbn,isbn13 and bookID for analysis purpose, hence dropping the columns

books = books.drop(columns=['isbn', 'isbn13','bookID'])
books.head()

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.42,eng,352,6333,244,11/1/2003,Scholastic
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,9/13/2004,Scholastic

In [49]:
books.columns

Index(['title', 'authors', 'average_rating', 'language_code', '  num_pages',
       'ratings_count', 'text_reviews_count', 'publication_date', 'publisher'],
      dtype='object')

In [50]:
books.describe()

       average_rating     num_pages  ratings_count  text_reviews_count
count    11123.000000  11123.000000   1.112300e+04        11123.000000
mean         3.934075    336.405556   1.794285e+04          542.048099
std          0.350485    241.152626   1.124992e+05         2576.619589
min          0.000000      0.000000   0.000000e+00            0.000000
25%          3.770000    192.000000   1.040000e+02            9.000000
50%          3.960000    299.000000   7.450000e+02           47.000000
75%          4.140000    416.000000   5.000500e+03          238.000000
max          5.000000   6576.000000   4.597666e+06        94265.000000

In [51]:
#We see below that there are no null or missing values, therefore we don't need to fill in any missing values

books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11123 entries, 0 to 11122
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               11123 non-null  object
 1   authors             11123 non-null  object
 2   average_rating      11123 non-null  float64
 3   language_code       11123 non-null  object
 4     num_pages         11123 non-null  int64
 5   ratings_count       11123 non-null  int64
 6   text_reviews_count  11123 non-null  int64
 7   publication_date    11123 non-null  object
 8   publisher           11123 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 782.2+ KB

In [52]:
#Let's try to get the top rated books by average rating. "Top Rated" means best rated by readers.

top_rated_books = books.sort_values(by = ['average_rating'], ascending = False)
top_rated_books

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
624,Comoediae 1: Acharenses/Equites/Nubes/Vespae/P...,Aristophanes/F.W. Hall/W.M. Geldart,5.0,grc,364,0,0,2/22/1922,Oxford University Press USA
9893,His Princess Devotional: A Royal Encounter Wit...,Sheri Rose Shepherd,5.0,eng,240,2,0,10/16/2007,Multnomah
4788,The Diamond Color Meditation: Color Pathway to...,John Diamond,5.0,eng,74,5,3,2/1/2006,Square One Publishers
9324,Tyrannosaurus Wrecks (Stanley #1),Laura Driscoll/Alisa Klayman-Grodsky/Eric ...,5.0,eng,24,2,1,2/1/2003,Disney Press
9720,The Irish Anatomist: A Study of Flann O'Brien,Keith Donohue,5.0,eng,222,1,0,7/25/2003,Academica Press
...,...,...,...,...,...,...,...,...,...
6877,I'll Be Home Before Midnight and I Won't Get P...,Anthony E. Wolf,0.0,eng,288,0,0,5/12/1988,Knopf Doubleday Publishing Group
3492,Brodie's notes on Aldous Huxley's brave new world,Graham Handley,0.0,eng,71,0,0,8/20/1992,Macmillan
2533,Insights: Talks On The Nature Of Existence,Frederick P. Lenz,0.0,eng,304,0,0,1/1/2003,Frederick P. Lenz Foundation for American Budd...
2532,How To Meditate: An Anthology Of Talks On Medi...,Frederick P. Lenz,0.0,eng,228,0,0,1/1/2004,Frederick P. Lenz Foundation for American Budd...
10497,The Fantastic Vampire: Studies in the Children...,James Craig Holte,0.0,eng,176,0,0,3/30/2002,Greenwood Press

In [ ]:
"""
We can observe in above data that though the ratings are 5 or so, 
but few people have actually rated it. This gives us inaccurate data, 
since we need books which have been rated as top books by more readers. 
Therefore, we next to try to take top rated books where it has been rated at least by 100 readers. """

In [53]:
top_rated_books = [x for x in books['ratings_count'] > 100]

In [54]:
top_rated_books = books[top_rated_books]

In [55]:
top_rated_books = top_rated_books.sort_values(by = ['average_rating'], ascending = False)

In [57]:
top_rated_books = top_rated_books[:100]

In [58]:
top_rated_books

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
6587,The Complete Calvin and Hobbes,Bill Watterson,4.82,eng,1456,32213,930,9/6/2005,Andrews McMeel Publishing
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78,eng,2690,41428,164,9/13/2004,Scholastic
6589,It's a Magical World (Calvin and Hobbes #11),Bill Watterson,4.76,eng,176,23875,303,9/1/1996,Andrews McMeel Publishing
1848,Early Color,Saul Leiter/Martin Harrison,4.73,eng,156,144,8,1/15/2006,Steidl
6,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73,eng,3342,28242,808,9/12/2005,Scholastic
...,...,...,...,...,...,...,...,...,...
724,The Lord of the Rings- 3 volumes set (The Lord...,J.R.R. Tolkien,4.50,en-US,1438,232,9,6/1/2005,Mariner Books
3752,From Far Away Vol. 14,Kyoko Hikawa/Yuko Sawada/Freeman Wong,4.50,eng,208,986,37,1/9/2007,VIZ Media
188,We Tell Ourselves Stories in Order to Live: Co...,Joan Didion/John Leonard,4.50,eng,1122,1564,108,10/17/2006,Everyman's Library
627,Stories and Early Novels: Pulp Stories / The B...,Raymond Chandler/Frank MacShane,4.50,eng,1199,1324,66,10/1/1995,Library of America
5120,The Diary of Virginia Woolf Volume Five: 1936...,Virginia Woolf/Anne Olivier Bell/Andrew McNeillie,4.50,eng,424,231,8,9/30/1985,Mariner Books

In [59]:
top_rated_books.describe()

       average_rating    num_pages  ratings_count  text_reviews_count
count      100.000000   100.000000   1.000000e+02          100.000000
mean         4.582200   655.760000   5.312732e+04          861.470000
std          0.069943   836.889517   3.117518e+05         4553.306314
min          4.500000    13.000000   1.010000e+02            5.000000
25%          4.530000   192.000000   3.927500e+02           20.500000
50%          4.560000   408.500000   1.840000e+03           62.000000
75%          4.610000   873.250000   1.086600e+04          184.500000
max          4.820000  6576.000000   2.339585e+06        36325.000000

In [ ]:
#Below are the authors and publsihers of top rated books

In [60]:
top_rated_authors = top_rated_books["authors"].value_counts()[:20]
top_rated_authors.head()

Hiromu Arakawa/Akira Watanabe    11
Bill Watterson                    7
J.R.R. Tolkien                    6
J.K. Rowling                      4
Jane Austen                       4
Name: authors, dtype: int64

In [62]:
top_rated_publishers = top_rated_books["publisher"].value_counts()[:20]
top_rated_publishers

VIZ Media LLC                 13
Andrews McMeel Publishing      6
VIZ Media                      5
Houghton Mifflin Harcourt      4
Vertigo                        4
Mariner Books                  3
Modern Library                 2
Scholastic Inc.                2
Penguin                        2
Scholastic                     2
Gramercy Books                 2
Black Classic Press            2
Veritas Publishing             2
Vintage                        2
Princeton University Press     2
W. W. Norton & Company         2
Cambridge University Press     1
Penguin Classics               1
Everyman's Library             1
DK                             1
Name: publisher, dtype: int64

In [79]:
#Now that we have books which are best rated, 
#let's find out books which might not have the best rating but our loved by most readers. 
#We call it the "most popular" category.

most_popular_books = books.sort_values(by=['ratings_count','text_reviews_count'], ascending=False)[:20]
most_popular_books

,title,authors,average_rating,language_code,num_pages,ratings_count,text_reviews_count,publication_date,publisher
10336,Twilight (Twilight #1),Stephenie Meyer,3.59,eng,501,4597666,94265,9/6/2006,Little Brown and Company
1697,The Hobbit or There and Back Again,J.R.R. Tolkien,4.27,eng,366,2530894,32871,8/15/2002,Houghton Mifflin
1462,The Catcher in the Rye,J.D. Salinger,3.80,eng,277,2457092,43499,1/30/2001,Back Bay Books
307,Angels & Demons (Robert Langdon #1),Dan Brown,3.89,eng,736,2418736,21303,4/1/2006,Pocket Books
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,4.56,eng,435,2339585,36325,5/1/2004,Scholastic Inc.
4415,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling/Mary GrandPré,4.42,eng,341,2293963,34692,6/2/1999,Arthur A. Levine Books / Scholastic Inc.
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,4.49,eng,870,2153167,29221,9/1/2004,Scholastic Inc.
23,The Fellowship of the Ring (The Lord of the Ri...,J.R.R. Tolkien,4.36,eng,398,2128944,13670,9/5/2003,Houghton Mifflin Harcourt
2114,Animal Farm,George Orwell/Boris Grabnar/Peter Škerl,3.93,eng,122,2111750,29677,5/6/2003,NAL
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,4.57,eng,652,2095690,27591,9/16/2006,Scholastic Inc.
2116,Lord of the Flies,William Golding,3.68,eng,182,2036679,26199,10/1/1999,Penguin Books
5015,Romeo and Juliet,William Shakespeare/Paul Werstine/Barbara A. M...,3.74,eng,368,1893917,14637,1/1/2004,Simon Schuster
7309,The Lightning Thief (Percy Jackson and the Oly...,Rick Riordan,4.25,eng,375,1766725,47951,3/1/2006,Disney Hyperion Books
294,Of Mice and Men,John Steinbeck,3.87,eng,103,1755253,25554,1/8/2002,Penguin Books
310,The Da Vinci Code (Robert Langdon #2),Dan Brown,3.84,eng,489,1679706,35877,3/28/2006,Anchor
284,The Alchemist,Paulo Coelho/Alan R. Clarke/Özdemir İnce,3.86,eng,197,1631221,55843,5/1/1993,HarperCollins
1069,The Giver (The Giver #1),Lois Lowry,4.13,eng,208,1585589,56604,1/24/2006,Ember
5270,The Book Thief,Markus Zusak/Cao Xuân Việt Khương,4.37,eng,552,1516367,86881,3/14/2006,Alfred A. Knopf
591,Little Women,Louisa May Alcott,4.07,eng,449,1479727,18458,4/6/2004,Signet Classics
2764,Jane Eyre,Charlotte Brontë/Michael Mason,4.12,eng,532,1409369,27884,2/4/2003,Penguin

In [81]:
most_popular_hundred = books.sort_values(by=['ratings_count','text_reviews_count'], ascending=False)[:100]

In [82]:
most_popular_authors = most_popular_hundred["authors"].value_counts()[:20]
most_popular_authors

J.K. Rowling/Mary GrandPré         4
Nicholas Sparks                    3
Rick Riordan                       2
Malcolm Gladwell                   2
Stephen King                       2
Roald Dahl/Quentin Blake           2
John Grisham                       2
Neil Gaiman                        2
J.R.R. Tolkien                     2
Jon Krakauer                       2
Dan Brown                          2
Mitch Albom                        1
Anita Diamant                      1
Fyodor Dostoyevsky/David McDuff    1
Emily Giffin                       1
Scott Westerfeld                   1
Stephenie Meyer                    1
Jane Austen/Fiona Stafford         1
Kim Edwards                        1
Jeffrey Eugenides                  1
Name: authors, dtype: int64

In [83]:
publishers_with_popular_books = most_popular_hundred["publisher"].value_counts()[:20]
publishers_with_popular_books

Penguin Books                7
Penguin Classics             4
St. Martin's Press           4
Back Bay Books               3
Scholastic Inc.              3
Bantam                       3
Anchor Books                 3
Grand Central Publishing     2
William Morrow Paperbacks    2
Penguin                      2
Alfred A. Knopf              2
Ballantine Books             2
Houghton Mifflin             2
Delta                        2
Dell Publishing Company      2
Puffin Books                 2
Oxford University Press      1
Picador USA                  1
Hyperion                     1
Simon Pulse                  1
Name: publisher, dtype: int64

In [84]:
#Now we have books,authors , publishers information of top rated and most popular books
publishers_with_popular_books.head(5)

Penguin Books         7
Penguin Classics      4
St. Martin's Press    4
Back Bay Books        3
Scholastic Inc.       3
Name: publisher, dtype: int64

In [85]:
top_rated_publishers.head(5)

VIZ Media LLC                13
Andrews McMeel Publishing     6
VIZ Media                     5
Houghton Mifflin Harcourt     4
Vertigo                       4
Name: publisher, dtype: int64

In [86]:
most_popular_authors.head(5)

J.K. Rowling/Mary GrandPré    4
Nicholas Sparks               3
Rick Riordan                  2
Malcolm Gladwell              2
Stephen King                  2
Name: authors, dtype: int64

In [87]:
top_rated_authors.head(5)

Hiromu Arakawa/Akira Watanabe    11
Bill Watterson                    7
J.R.R. Tolkien                    6
J.K. Rowling                      4
Jane Austen                       4
Name: authors, dtype: int64

In [88]:
most_popular_books = most_popular_books[['title','authors']]
most_popular_books.head(5)

,title,authors
10336,Twilight (Twilight #1),Stephenie Meyer
1697,The Hobbit or There and Back Again,J.R.R. Tolkien
1462,The Catcher in the Rye,J.D. Salinger
307,Angels & Demons (Robert Langdon #1),Dan Brown
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré

In [89]:
top_rated_books = top_rated_books[['title','authors','average_rating']]
top_rated_books.head(5)

,title,authors,average_rating
6587,The Complete Calvin and Hobbes,Bill Watterson,4.82
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,4.78
6589,It's a Magical World (Calvin and Hobbes #11),Bill Watterson,4.76
1848,Early Color,Saul Leiter/Martin Harrison,4.73
6,Harry Potter Collection (Harry Potter #1-6),J.K. Rowling,4.73

In [90]:
#Let's find out how many books authors and publishers have published. 
#Also,The maximum and minimum number of published books by them.

publishers_most_books = books["publisher"].value_counts()
publishers_most_books.head(20)

Vintage                         318
Penguin Books                   261
Penguin Classics                184
Mariner Books                   150
Ballantine Books                144
Harper Perennial                112
HarperCollins                   112
Pocket Books                    111
Bantam                          110
VIZ Media LLC                    88
Berkley                          86
Dover Publications               85
Modern Library                   82
Del Rey                          80
Tor Books                        76
Grand Central Publishing         76
Oxford University Press  USA     75
Oxford University Press          73
Scribner                         73
W. W. Norton  Company            68
Name: publisher, dtype: int64

In [91]:
#Maximum number of books by a publisher
publishers_most_books.max()

318

In [92]:
#Minimum number of books by publisher
publishers_most_books.min()

1

In [94]:
author_most_books = books["authors"].value_counts()
author_most_books.head(20)

Stephen King                   40
P.G. Wodehouse                 40
Rumiko Takahashi               39
Orson Scott Card               35
Agatha Christie                33
Piers Anthony                  30
Sandra Brown                   29
Mercedes Lackey                29
Dick Francis                   28
Terry Pratchett                23
James Patterson                23
Laurell K. Hamilton            23
Margaret Weis/Tracy Hickman    23
Gordon Korman                  22
Bill Bryson                    21
Janet Evanovich                21
Alan Dean Foster               21
Dan Simmons                    21
Gabriel García Márquez         20
Dean Koontz                    20
Name: authors, dtype: int64

In [95]:
#Maximum number of books by an author
author_most_books.max()

40

In [96]:
#Minimum number of books by an author
author_most_books.min()

1

In [97]:
#We find the mean number of books by publishers and the authors
#Average books by a publisher

round(publishers_most_books.mean(),2)

4.86

In [98]:
#average books by an author
round(author_most_books.mean(),2)

1.68